*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
* {
	font-family: "Montserrat", sans-serif;
}
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f4f3ee;
}
a {
	text-decoration: none;
	color: #141414;
}

li {
	list-style: none;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0 15px;
}
// ==============================
// ============================
// ================================
.wrapper {
	background-color: #f8e4be;
	box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.04);
	border-radius: 10px;
	max-width: 1200px;
	margin: 50px auto;
	h3 {
		text-transform: uppercase;
	}
}

header {
	color: #f4f3ee;
	background-color: #8d7a75;
	border-bottom: 1px solid #888888;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;

	.headerLeft {
		font-size: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;

		h3,
		p {
			margin: 0;
		}
	}

	.headerRight {
		display: flex;
		li {
			display: flex;
			margin-right: 30px;
		}
		p {
			font-weight: 600;
			transition-duration: 0.5s;
		}
		p:hover {
			cursor: pointer;
			font-weight: 600;
			color: #fbb08e;
			transform: scale(1.05);
		}
		.cart-title {
			cursor: pointer;
			text-transform: uppercase;
			margin-right: 10px;
			font-weight: 600;
			transition-duration: 0.5s;
		}
		.cart-title:hover {
			color: #fbb08e;
			transform: scale(1.05);
		}
	}
}

.content {
	padding: 40px;

	.donuts {
		margin-top: 100px;
		gap: 90px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.card {
		box-shadow: 38px 46px 27px -26px rgba(0, 0, 0, 0.1);
		position: relative;
		border: 1px solid #6a3f36;
		padding: 20px;
		display: flex;
		width: 290px;
		flex-direction: column;
		border-radius: 30px;
		align-items: center;
		gap: 5px;
		transition-duration: 0.3s;

		&:hover {
			transform: translateY(-5px);
			cursor: pointer;
		}

		.card-text-title {
			font-size: 20px;
			padding-top: 30px;
			font-weight: 700;
		}
		.card-text {
			font-size: 15px;
			gap: 10px;
			display: flex;
		}

		img {
			width: 200px;
			height: 200px;
		}
	}

	.plus-btn {
		background-color: #f8e4be;
		position: absolute;
		bottom: 280px;
		right: 20px;
		text-align: center;
		font-size: 18px;
		border: none;
		border-radius: 20px;
		color: #2a2a2a;

		width: 30px;
		height: 30px;
		transition-duration: 0.5s;
		cursor: pointer;
		border: 1px solid #000000;
	}
	.plus-btn:hover {
		background-color: #6a3f36;
		color: #f8e4be;
		transform: scale(1.05);
	}
}

	.search-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 20px;
		border-bottom: 1px solid #000000;

		.search-block {
			padding: 5px;
			height: 30px;
			position: relative;
			left: -40px;
			display: flex;
			border: 1px solid #6a3f36;
			border-radius: 4px;
			font-size: 2px;

			img {
				margin-top: auto;
				margin-bottom: auto;
			}
			input {
				font-size: 16px;
				outline: none;
				border: 0;
				padding: 10px;
				background-color: #f8e4be;
			}
		}
	}
	.cart-side {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 1;
}

	.cart-block {
		display: flex;
		flex-direction: column;
		position: absolute;
		width: 385px;
		height: 100%;
		right: 0;
		background: #f8e4be;
		box-shadow: -1px 1px 16px #5e5e5e;
		padding: 20px;

		h2 .cart-remove{
			top: -30px;
			left: 310px;
		}
		.items{
			overflow:  auto;
		}


	.cartItem {
		text-align: center;
		align-items: center;
		display: flex;
		padding-bottom: 10px;
		border-bottom: 1px solid #000000;
	}
	.cartItem-img {
		width: 25%;
	}

	.cartText {
		display: flex;
		flex-direction: column;
		margin-left: 10px;
		margin-top: 40px;
	}
	p {
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 5px;
	}
	b {
		font-weight: 400;
	}
	h2 {
		margin: 0;
		border-bottom: 1px solid black;
		margin-bottom: 40px;
	}
	.cartDown {
		font-size: 18px;
		margin-top: 250px;


		span{
			font-weight: 500;
		}

		b{
			font-weight: 700;
		}
		
		li {
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;
		}

		.brown-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			width: 80%;
			cursor: pointer;
			font-size: 20px;
			font-weight: 600;;
			height: 55px;
			border-radius: 16px;
			background-color: #C8A796;


			&:hover {
				transition-duration: 0.4s;
				background-color: #EEA988;
			}
		}
		

		div{
			margin: 0 10px;
			position: relative;
			top: -5px;
			flex: 1;
			height: 1px;
			border-bottom: 1px dashed #000000;
		}

			
	}
	.cart-remove {
		position: relative;
		top: -80px;
		left: 180px;
		font-weight: 700;
		cursor: pointer;
		background-color: #f8e4be;
		color: #000000;
		text-align: center;
		width: 30px;
		font-size: 20px;
		border: 2px solid #080404;
		border-radius: 4px;
		transition-duration: 0.3s;
	}
	.cart-remove:hover {
		transform: scale(1.05);
		background-color: #d12a2a;
	}
}
